#rin-main {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-top: calc(50vh - 200px);
}
@media (max-width: 600px){
    #rin-main {
        width: 95%;
    }
}
#rin-headimg{
    background-image: url('/assets/img/logo.jpg');
    border-radius: 50%;
    height: 150px;
    width:150px;
    margin: auto;
    cursor: pointer;
    background-size: cover;
    border: 3px solid #fff;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.55);
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
}

#rin-headimg:hover{
    -webkit-transform: rotateZ(360deg);
    transform:rotate(360deg) scale(1.2);
}
.rin-name{
    margin-top: 20px;
    color:white;
    font-size: 26px;
    font-weight: 700;
    text-shadow: 0 0 8px rgba(255,255,255,.55);
}
.rin-description{
    color:white;
    text-shadow: 0 0 8px rgba(255,255,255,.55);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing:8px;
}
.rin-btn {
    color:white;
    margin-top: 10px;
}
body {
    margin: 0;
    background: #2e2e2c;
}
* {
    -webkit-tap-highlight-color: transparent;
}
::selection {
    color: #e0e0e0;
    background: rgba(255,64,129,.35);
}
#rin-bg{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-image: url('/assets/img/background.jpg');
}
#rin-bg:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    position: fixed;
    }

#rin-footer {
    bottom: 0;
    margin: auto;
    width: 100vw;
    position: absolute;
    padding: 10px 0 10px 0;
}
#rin-footer div {
    font-size: 14px;
    text-align: center;
    color: rgba(255,255,255,.79);
}
#rin-footer div a {
    color: #2196f3;
    font-weight: 700;
    transition: all .3s;
    text-decoration: none;
}
.rin-tr {
    width: 80%;
    height: 2px;
    margin: auto;
    background: rgba(255,255,255,.3);
}
#rin-main{
    display: flex;
    width: 95%;
    margin: auto;
    height: 100vh;
    max-width: 1200px;
    justify-content: center;
    flex-flow: column nowrap;
}
@media(max-height:777px){
    #rin-main {
     height: auto;
    }
   }
.rin-card{
    margin: 20px 0;
    padding:20px 25px;
    padding-bottom:0;
    background-color: rgba(66,66,66,.3);
}
.rin-card-title{
    font-size: 30px;
    color:white;
    margin-bottom: 15px;
}
.rin-card-title2{
    font-size: 20px;
    color:white;
    margin-bottom: 5px;
}
.rin-card-content{
    font-size: 17px;
    color:white;
    margin-bottom: 5px;
    line-height:1.5;
}
.rin-card-title2 a{
    text-decoration:none;
}
.rin-card-part{
    margin-bottom: 15px;
    margin-top: 10px;
}
.mdui-progress{
    background-color: rgba(255,255,255,.2)!important;
}
.mdui-progress-determinate{
    background-color: rgb(255,255,255)!important;

}
.mdui-tooltip{
    margin-top:10px!important;
}
.rin-btn {
    color:white;
    margin-right: 10px;
    min-width:100px!important;
}
@media only screen and (min-width: 321px) and (max-width: 1024px) {
    .rin-btn {
        margin-bottom: 10px;
    }
}
.rin-btn-blue{
    border-bottom: 1.5px solid #28A9E0;
}
.rin-btn-blue:hover{
    background-color: #28A9E0;
    transition: all .3s;
}
.rin-btn-pink{
    border-bottom: 1.5px solid #F9A2A8;
}
.rin-btn-pink:hover{
    background-color: #F9A2A8;
    transition: all .3s;
}
.rin-btn-black{
    border-bottom: 1.5px solid #353535;
}
.rin-btn-black:hover{
    background-color: #353535;
    transition: all .3s;
}
.rin-tr{
    margin-top:40px;
    margin-bottom:20px;
}
#last {
    text-align: center;
}
#last .rin-card-title2{
    letter-spacing : 10px;
    margin-bottom: 10px;
}
#last .rin-card-content{
    font-size: 12px;
    letter-spacing: 1em;
    opacity: .5;
}
#footer{
    text-align: center;
}
#footer .rin-card-content{
    font-size: 12px;
    opacity: .5;
}
#footer div a {
    color: #2196f3;
    font-weight: 700;
    transition: all .3s;
    text-decoration: none;
}